
<div *ngIf="arrPhotos.length === 0" class="alert alert-info">
  Caricamento in corso
</div>
<h1>Totale foto favorite :{{arrFavorites.length}} </h1>

<div class="row row-cols-1 row-cols-lg-3" *ngIf="arrPhotos.length > 0">
  <div class="col my-5" *ngFor="let photo of arrPhotos">
    <div class="card border-black mx-auto" style="width: 28rem; position: relative;">
      <div class="card-body text-center">
        <img class="card-img-top" [src]="photo.thumbnailUrl" alt="Card image cap">
        <h5 class="card-title"><br>{{ photo.title }}</h5>
        <p class="card-text">{{ photo.id }}</p>
        <button class="btn btn-danger me-3" (click)="delete(photo.id)">Elimina</button>
        <button class="btn btn-primary" (click)="addToFavorites(photo)">Mi piace</button>
      </div>
    </div>
  </div>
</div>
